
<div class="container mt-4">
  <h1>New Restaurant</h1>

  <%= simple_form_for @restaurant, html: {class: "form-horizontal"} do |form| %>
    <%= form.error_notification %>

    <%= form.input :name, required: true, label: "Name", input_html: {class: "form-control"} %>
    <%= form.input :address, required: true, label: "Address", input_html: {class: "form-control"} %>
    <%= form.input :phone_number, required: true, label: "Phone Number", input_html: {class: "form-control"} %>
    <%= form.input :category, required: true, label: "Category", input_html: {class: "form-control"} %>

    <%= form.button :submit, "Create Restaurant", class: "btn btn-primary" %>
  <% end %>
</div>
