
<div class="container mt-4">
  <h1>New Review</h1>

  <%= simple_form_for [@restaurant, @review], html: {class: "form-horizontal"} do |form| %>
    <%= form.error_notification %>

    <%= form.input :rating, required: true, label: "Rating", input_html: {class: "form-control"} %>
    <%= form.input :content, required: true, label: "Content", input_html: {class: "form-control"} %>

    <%= form.button :submit, "Create Review", class: "btn btn-primary" %>
  <% end %>
</div>
